/* import Spartan font */
@font-face {
  font-family: spartan-regular;
  src: url(./Spartan/static/Spartan-Regular.ttf);
}
@font-face {
  font-family: spartan-light;
  src: url(./Spartan/static/Spartan-Light.ttf);
}
@font-face {
  font-family: spartan-semibold;
  src: url(./Spartan/static/Spartan-SemiBold.ttf);
}
@font-face {
  font-family: spartan-bold;
  src: url(./Spartan/static/Spartan-Bold.ttf);
}

h1, p {
  font-family: spartan-regular;
  color: white;
}
body {
  background-color: black;
}

